body {
    background-color: #030005;
}

h1 {
    text-align: center;
    color: white;
}

h3, p {
    text-align: center;
}

h3 {
    margin-top: 10px;
    color: #030005;
}

p {
    color: #030005;
}

.myh3 {
    max-width: 350px;
    width: 90%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 4px;
    color: #030005;
}